<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">Would you like to work with us or just learn more?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="conactForm" action="https://app.smartsheet.com/b/form"  >
					<input type="hidden" name="EQBCT"  value="9fd77772cf1a4661ad22a930b11f3e56"/>
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" onclick="location.href='https://app.smartsheet.com/b/form?EQBCT=9fd77772cf1a4661ad22a930b11f3e56';" class="btn btn-xl">Contact Us</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
