<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Features</h2>
                    <h3 class="section-subheading text-muted">We help our customers accept electronic payments directly and without the requirement of a local bank.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-btc fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Cryptocurrency</h4>
                    <p class="text-muted">If you find that most or all of your sales are cash for whatever reason, using Wampum Register&#169; is a great option for your business.  Cash can be simple, but too much of it makes you a target for crime. Safely inventorying and using cash can also be very expensive.</p> 
				
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-university fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Bankless Transactions</h4>
                    <p class="text-muted">If you do not or can not have a local bank, <strong>you may not be able to accept checks or credit cards</strong>.  With Wampum Register&#169; you can accept electronic payments easily.  You can also make electronic payments to your vendors and/or employees.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Prepayments / Delivery</h4>
                    <p class="text-muted">You can allow your customers to order and pay for items in advance, allowing for a quick, efficient purchase experience or product delivery.</p>
                </div>
			</div>
			<div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Security</h4>
                    <p class="text-muted">Cash-heavy business pay as much as 20% to secure cash while it is being held and transferred.  Wampum Register&#169; allows you to lower that by as much as  <strong>99%</strong>.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-credit-card-alt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Eliminate Merchant Fees</h4>
                    <p class="text-muted">If you are able to accept credit cards, but it takes a significant part of your profit for merchant fees, interchange fees, chargebacks and monthly minimums. Wampum Register&#169; allows you eliminate chargebacks and eliminate merchant fees.</p>
                </div>

            </div>
        </div>
    </section>